.DS_Store
.idea
coverage/
node_modules/
*.log
lib
.dts

# yarn2
.yarn/*
#!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions


# dist
dist
!dist/web/package.json
!dist/rpc/package.json
!dist/README.md

.history
